# Python bytecode
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Local development settings
.env
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
